@charset "utf-8";
/* CSS Document */

#portrait_content {
    padding: 10px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	width: 400px;
    height: 760px;
    background-color: rgba(163,163,163,0.5);
	border-radius: 10px;
	margin-bottom: 10px; 
	border: 2px solid black; 
}

#content, #name, #email {		
	background-color: white;				
}
#content {
    height: 100px;
	border: 2px solid grey;		
}
div.ui-input-text {
	border: 2px solid grey;
	border-radius: 0px;
	padding-left: 10px;
	margin-left: 0px;
	border-radius: 5px;
}
input[textarea] {
	box-shadow: 2px 5px 10px rgba(0,255,0,0.9);
}
#distance,#distance_2,#distance_3,#distance_4,#distance_5,#distance_6,#distance_7,#distance_8, #distance_9 {
    font: 13px Helvetica,Arial;	
	margin-top: 6px;
    width: 97%;
    height:20px;
    color: white;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
    border:1px solid white;
    padding:10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
}
.texte {
    margin-top:  2px;
    font: 15px Helvetica,Arial;
    color: black;
    width: 98%;
	margin-left: auto;
	margin-right: auto;
    padding: 5px;
    background:white;
     -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
	text-shadow: 0 0 0 #fff;
    
    
}
.new-button {
	width: 100px;	
	height: 100px;
	 -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
	text-align: left;
	
}
.tabelle {    
	width: 370px;
	border-spacing: 24px;	
}
#table-wrapper {    
	padding-top: 10px;
	margin:0 auto;
	width: 371px;
	text-align: center;	
}
.ui-btn-inner {
   padding: 0.6em 10px;	
}
.ui-body-c, .ui-overlay-c {
   color: black;
   text-shadow: 0 1px 0 #fff;	
}
.ui-body-c,
.ui-overlay-c {
	text-shadow: 0 0px #fff;
}
.info {
	width: 80%;
	margin-top: 20px;
	font: 14px Helvetica,Arial;
	margin-right: auto;
	margin-left: auto;
	color: black;
	-moz-border-radius: 15px;
    border-radius: 15px;
	text-align: left;
	padding: 7px;
	background-color: orange;
	border: 1px solid black;
	text-shadow: 0px;
}
.twitter_set {
    margin-right: auto;
	margin-left: auto;	
}